<%- include('partials/_header') %>
<%- include('partials/_menu') %>
<div class="main">
    <%- include('partials/_menuheader') %>
    <main class="content">    
        <div class="container-fluid">
            <div class="header">
                <h1 class="header-title">
                    Inicio
                </h1>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Inicio</a></li>
                    </ol>
                </nav>
            </div>
        </div>
    </main>
<%- include('partials/_footer') %>